USE [master]
GO
/****** Object:  Database [OrderAppStandard]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE DATABASE [OrderAppStandard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderAppStandard', FILENAME = N'C:\Program Files\Microsoft SQL Server 2019\MSSQL15.SQLEXPRESS02\MSSQL\DATA\OrderAppStandard_2b757555da524ffe8e2cee548a75e895.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderAppStandard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2019\MSSQL15.SQLEXPRESS02\MSSQL\DATA\OrderAppStandard_9daf14d7b0e548808cc30e3fc04f7b3d.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderAppStandard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderAppStandard]
GO
/****** Object:  User [goimonsh_OrderAppStandardServer]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE USER [goimonsh_OrderAppStandardServer] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[goimonsh_OrderAppStandardServer]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [goimonsh_OrderAppStandardServer]
GO
ALTER ROLE [db_datareader] ADD MEMBER [goimonsh_OrderAppStandardServer]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [goimonsh_OrderAppStandardServer]
GO
/****** Object:  Schema [goimonsh_OrderAppServer]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE SCHEMA [goimonsh_OrderAppServer]
GO
/****** Object:  Schema [goimonsh_OrderAppStandardServer]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE SCHEMA [goimonsh_OrderAppStandardServer]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](225) NULL,
	[No] [int] NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](255) NULL,
	[CompanyOwnerId] [nvarchar](128) NULL,
	[Slug] [varchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[IsFinish] [bit] NULL,
	[IsConfirm] [bit] NULL,
	[CompanyId] [int] NULL,
	[IsInProcess] [bit] NULL,
	[IsDelivered] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[OrderDetailQuantity] [int] NULL,
	[OrderDetailNote] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ProductPrice] [money] NULL,
	[IsActive] [bit] NULL,
	[ProductImageId] [int] NULL,
	[CategoryId] [int] NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [varchar](max) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ProductImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableId] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](255) NULL,
	[IsOpen] [bit] NULL,
	[TableToken] [uniqueidentifier] NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExtension]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExtension](
	[AspNetUserId] [nvarchar](128) NOT NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_UserExtension] PRIMARY KEY CLUSTERED 
(
	[AspNetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2D93C0AA-7F03-4D6E-AA3B-9C9A3355E781', N'admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'26a55f8f-2145-4e6f-bf2a-341244132fdc', N'2D93C0AA-7F03-4D6E-AA3B-9C9A3355E781')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'34af62f6-0af4-4d4e-b787-74ce4b5510fa', N'2D93C0AA-7F03-4D6E-AA3B-9C9A3355E781')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'94d7800b-3bcb-41b8-a850-b231b5594a78', N'2D93C0AA-7F03-4D6E-AA3B-9C9A3355E781')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'26a55f8f-2145-4e6f-bf2a-341244132fdc', NULL, 0, N'AIKA/LpsTwudW9MxY5TxoRFvgnqtUFpQ24D4j4M84YS0+MMavcKvlFPA9s52AgpW2A==', N'c6bcd30e-665f-45e3-aa56-f1619623536a', N'1234564', 0, 0, NULL, 1, 0, N'1234564')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2fdf41a6-f63d-4d8e-b745-8631485c7017', NULL, 0, N'AKngUBynUtoV2OyWXnubSVqzMxAstQ4zo6KuE5rAMc4LE+0Yr7gRRk6EhxiBizuXcQ==', N'7b22a1f6-bea7-445f-913b-a40901beecb4', N'0987654321', 0, 0, NULL, 0, 0, N'1234564_1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'34af62f6-0af4-4d4e-b787-74ce4b5510fa', NULL, 0, N'AGble00cn6IFGTwaPQeuwNoDcUckY4sPulgcNi8OkTI34xGGwxOtbl2StwptoizEkQ==', N'93375718-858c-4d9c-8333-71e5ef440728', N'1234563', 0, 0, NULL, 1, 0, N'1234563')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [No], [CompanyId]) VALUES (1, N'Món chay', 2, 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [No], [CompanyId]) VALUES (2, N'Món mặn', 1, 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [No], [CompanyId]) VALUES (3, N'Món lẩu', 4, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [CompanyName], [CompanyOwnerId], [Slug]) VALUES (1, N'Anna Coffe', N'bbdd9caf-f9ed-4ca0-bcbc-a87c9ed9e9b3', N'annacoffe')
INSERT [dbo].[Company] ([CompanyId], [CompanyName], [CompanyOwnerId], [Slug]) VALUES (2, N'Coco Coffe', NULL, N'cococoffe')
INSERT [dbo].[Company] ([CompanyId], [CompanyName], [CompanyOwnerId], [Slug]) VALUES (3, N'Quán 2', N'4f47e517-6627-471b-b439-36fdd200f3f1', N'quan2')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [TableId], [OrderDate], [IsFinish], [IsConfirm], [CompanyId], [IsInProcess], [IsDelivered]) VALUES (1, 1, CAST(N'2025-09-06T00:00:00.000' AS DateTime), 1, 1, 1, NULL, NULL)
INSERT [dbo].[Order] ([OrderId], [TableId], [OrderDate], [IsFinish], [IsConfirm], [CompanyId], [IsInProcess], [IsDelivered]) VALUES (2, 1, CAST(N'2025-09-06T00:00:00.000' AS DateTime), 1, 1, 1, NULL, NULL)
INSERT [dbo].[Order] ([OrderId], [TableId], [OrderDate], [IsFinish], [IsConfirm], [CompanyId], [IsInProcess], [IsDelivered]) VALUES (3, 1, NULL, 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [OrderDetailQuantity], [OrderDetailNote]) VALUES (1, 1, 5, NULL, NULL)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [OrderDetailQuantity], [OrderDetailNote]) VALUES (2, 1, 10, NULL, NULL)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [OrderDetailQuantity], [OrderDetailNote]) VALUES (3, 2, 10, 1, N'ghi chú chanh sả')
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductDescription], [ProductPrice], [IsActive], [ProductImageId], [CategoryId], [CompanyId]) VALUES (1, N'Nấm đùi gà xào cháy tỏi', N'Một Món chay ngon miệng với nấm đùi gà thái chân hương, xào săn với lửa và thật nhiều tỏi băm, nêm nếm với mắm và nước tương chay, món ngon đưa cơm và rất dễ ăn cả cho người lớn và trẻ nhỏ.

', 200000.0000, 0, 14, 2, 1)
INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductDescription], [ProductPrice], [IsActive], [ProductImageId], [CategoryId], [CompanyId]) VALUES (2, N'Rau xào ngũ sắc', N'Rau củ quả theo mùa tươi mới xào với nước mắm chay, gia vị để giữ được hương vị ngọt tươi nguyên thủy của rau củ, một món nhiều vitamin và chất khoáng, rất dễ ăn.', 180000.0000, 1, 95, 2, 1)
INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductDescription], [ProductPrice], [IsActive], [ProductImageId], [CategoryId], [CompanyId]) VALUES (3, N'Bánh lava phô mai nướng', N'Rau củ quả theo mùa tươi mới xào với nước mắm chay, gia vị để giữ được hương vị ngọt tươi nguyên thủy của rau củ, một món nhiều vitamin và chất khoáng, rất dễ ăn.', 180000.0000, 1, 37, 4, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ProductImageId], [FileId]) VALUES (14, N'6dc0d2aa6c414d1a8e2876f88c2eb360.jpeg')
INSERT [dbo].[ProductImage] ([ProductImageId], [FileId]) VALUES (15, N'd5fece0b38944ab79628c0a03f00c853.png')
INSERT [dbo].[ProductImage] ([ProductImageId], [FileId]) VALUES (16, N'63e17474d37f41199881157a44f71c49.png')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([TableId], [TableName], [IsOpen], [TableToken], [CompanyId]) VALUES (1, N'Bàn Số 1', 1, N'f25e4ff4-e496-440e-8ce1-2813d4e6f2a1', 2)
INSERT [dbo].[Table] ([TableId], [TableName], [IsOpen], [TableToken], [CompanyId]) VALUES (2, N'Bàn Số 2', 0, N'53c2d556-525f-47c1-bc74-e9e5a743b5ec', 2)
INSERT [dbo].[Table] ([TableId], [TableName], [IsOpen], [TableToken], [CompanyId]) VALUES (3, N'Bàn Số 3', 1, N'1eee21ba-5019-4edd-aaa4-cb63c1513288', 1)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
INSERT [dbo].[UserExtension] ([AspNetUserId], [CompanyId]) VALUES (N'26a55f8f-2145-4e6f-bf2a-341244132fdc', 5)
INSERT [dbo].[UserExtension] ([AspNetUserId], [CompanyId]) VALUES (N'2fdf41a6-f63d-4d8e-b745-8631485c7017', 5)
INSERT [dbo].[UserExtension] ([AspNetUserId], [CompanyId]) VALUES (N'35d2b882-3002-4215-9a45-926bb83828ff', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 28/09/2025 18:57:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsFinish]  DEFAULT ((0)) FOR [IsFinish]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsConfirm]  DEFAULT ((0)) FOR [IsConfirm]
GO
ALTER TABLE [dbo].[Table] ADD  CONSTRAINT [DF_Table_IsOpen]  DEFAULT ((0)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Table] ADD  CONSTRAINT [DF_Table_TableToken]  DEFAULT (N'NEWID()') FOR [TableToken]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_AspNetUsers] FOREIGN KEY([CompanyOwnerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_AspNetUsers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([TableId])
REFERENCES [dbo].[Table] ([TableId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductImage] FOREIGN KEY([ProductImageId])
REFERENCES [dbo].[ProductImage] ([ProductImageId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductImage]
GO
ALTER TABLE [dbo].[UserExtension]  WITH CHECK ADD  CONSTRAINT [FK_UserExtension_AspNetUsers] FOREIGN KEY([AspNetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserExtension] CHECK CONSTRAINT [FK_UserExtension_AspNetUsers]
GO
ALTER TABLE [dbo].[UserExtension]  WITH CHECK ADD  CONSTRAINT [FK_UserExtension_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[UserExtension] CHECK CONSTRAINT [FK_UserExtension_Company]
GO
/****** Object:  StoredProcedure [dbo].[AdminAccountModuleGetAll]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminAccountModuleGetAll]
@companyId INT
AS
BEGIN
SELECT Id as id
      ,PhoneNumber as phoneNumber
      ,PhoneNumberConfirmed as phoneNumberConfirmed
      ,TwoFactorEnabled as twoFactorEnabled
      ,LockoutEndDateUtc as lockoutEndDateUtc
      ,LockoutEnabled as lockoutEnabled
      ,AccessFailedCount as accessFailedCount
      ,UserName as userName
  FROM AspNetUsers
  LEFT JOIN UserExtension ON UserExtension.AspNetUserId = AspNetUsers.Id
  WHERE UserExtension.CompanyId = @companyId
END
GO
/****** Object:  StoredProcedure [dbo].[AdminCategoryModuleGetAll]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[AdminCategoryModuleGetAll]
@companyId INT
AS
BEGIN
SELECT  CategoryId as categoryId
      ,CategoryName as categoryName
      ,[No] as no
  FROM Category
  WHERE CompanyId = @companyId
  ORDER BY [No] ASC
END
GO
/****** Object:  StoredProcedure [dbo].[AdminOrderModuleGetAll]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminOrderModuleGetAll]
@companyId INT
AS
BEGIN
SELECT OrderId as orderId
      ,OrderDate as orderDate
	  ,[Order].TableId as tableId
	  ,[Table].TableName as tableName
	  ,[Table].TableToken as tableToken
	  ,IsFinish as isFinish
	  ,IsConfirm as isConfirm
	  ,IsInProcess as isInProcess
	  ,IsDelivered as isDelivered
  FROM [Order]
  LEFT JOIN [Table] ON [Table].TableId = [Order].TableId
  WHERE [Order].CompanyId = @companyId
  --Lấy ngày hiện tại
  AND OrderDate >= CAST(GETDATE() AS DATE)
  AND OrderDate < DATEADD(DAY, 1, CAST(GETDATE() AS DATE))
  --kết thúc
  Order by IsConfirm ASC,IsFinish ASC, OrderId DESC

  SELECT  TableId as tableId
      ,TableName as tableName
  FROM [Table]
  WHERE CompanyId = @companyId
END
GO
/****** Object:  StoredProcedure [dbo].[AdminOrderModuleGetOrderDetails]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminOrderModuleGetOrderDetails]
@id INT
AS
BEGIN

SELECT OrderDetailId as orderDetailId
      ,OrderId as orderId
      ,OrderDetail.ProductId as productId
      ,OrderDetailQuantity as orderDetailQuantity
      ,OrderDetailNote as orderDetailNote

	  ,ProductName as productName
	  ,ProductPrice as productPrice
	  ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId
  FROM OrderDetail
  LEFT JOIN Product ON Product.ProductId = OrderDetail.ProductId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE OrderId = @id

END
GO
/****** Object:  StoredProcedure [dbo].[AdminProductModuleGetAll]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminProductModuleGetAll]
@companyId INT
AS
BEGIN
--main
	SELECT ProductId as productId
      ,ProductName as productName
      ,ProductDescription as  productDescription
      ,ProductPrice as productPrice
      ,IsActive as isActive 
      ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId

      ,Product.CategoryId as categoryId
	  ,Category.CategoryName as categoryName
  FROM Product
  LEFT JOIN Category ON Category.CategoryId = Product.CategoryId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE Product.CompanyId = @companyId
  ORDER BY ProductId DESC

  --support
  SELECT  CategoryId as categoryId
      ,CategoryName as categoryName
  FROM Category
  WHERE CompanyId = @companyId
END
GO
/****** Object:  StoredProcedure [dbo].[AdminReportModuleGetFilter]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminReportModuleGetFilter]
@companyId INT,
@startDate DATETIME,
@endDate DATETIME,
@searchKey NVARCHAR = ''
AS
BEGIN
-- nếu không truyền thì set mặc định = hôm nay
    IF @startDate IS NULL
        SET @startDate = CAST(GETDATE() AS DATE);

    IF @endDate IS NULL
        SET @endDate = DATEADD(DAY, 1, CAST(GETDATE() AS DATE));

SELECT [Order].OrderId as orderId
      ,OrderDate as orderDate
	  ,[Order].TableId as tableId
	  ,[Table].TableName as tableName
	  ,[Table].TableToken as tableToken
	  ,IsFinish as isFinish
	  ,IsConfirm as isConfirm
	  -- tính toán
	  ,SUM(OrderDetail.OrderDetailQuantity) as totalProductsQuantitySold
	  ,COUNT(OrderDetail.OrderDetailId) as totalProductsSold
	  ,SUM(OrderDetail.OrderDetailQuantity * Product.ProductPrice) as totalRevenue
  FROM [Order]
  LEFT JOIN [Table] ON [Table].TableId = [Order].TableId
  LEFT JOIN OrderDetail ON OrderDetail.OrderId = [Order].OrderId
  LEFT JOIN Product ON Product.ProductId = OrderDetail.ProductId
  WHERE [Order].CompanyId = @companyId
  AND (@searchKey = '' OR TableName Like '%' + @searchKey + '%')
  AND (OrderDate >= @startDate AND OrderDate <= DATEADD(DAY, 1, @endDate))
  GROUP BY 
  [Order].OrderId, OrderDate, [Order].TableId, TableName, TableToken, IsFinish, IsConfirm
  ORDER BY 
  totalRevenue DESC	
END
GO
/****** Object:  StoredProcedure [dbo].[AdminTableModuleGetAll]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminTableModuleGetAll]
@companyId INT
AS
BEGIN

SELECT TableId as tableId
      ,TableName as tableName
      ,IsOpen  as isOpen
	  ,TableToken as tableToken
  FROM [Table]
  WHERE CompanyId = @companyId
END
GO
/****** Object:  StoredProcedure [dbo].[HomeModuleGetAll]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HomeModuleGetAll]
@companySlug varchar(max)
AS
BEGIN
DECLARE @companyId INT;

SELECT TOP 1 @companyId = CompanyId
FROM Company
WHERE Slug = @companySlug;

--main
	SELECT ProductId as productId
      ,ProductName as productName
      ,ProductDescription as  productDescription
      ,ProductPrice as productPrice
      ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId

      ,Product.CategoryId as categoryId
	  ,Category.CategoryName as categoryName
  FROM Product
  LEFT JOIN Category ON Category.CategoryId = Product.CategoryId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE Product.CompanyId = @companyId AND Product.IsActive = 1
  ORDER BY ProductId DESC

  --support
  SELECT  CategoryId as categoryId
      ,CategoryName as categoryName
      ,[No] as no
  FROM Category
  WHERE CompanyId = @companyId
END
GO
/****** Object:  StoredProcedure [dbo].[HomeModuleGetOrderOfTable]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HomeModuleGetOrderOfTable]
@tableId INT,
@tableToken UniqueIdentifier
AS
BEGIN
SELECT OrderId as orderId
      ,OrderDate as orderDate
	  ,[Order].TableId as tableId
	  ,[Table].TableName as tableName
	  ,IsFinish as isFinish
	  ,IsConfirm as isConfirm
  FROM [Order]
  LEFT JOIN [Table] ON [Table].TableId = [Order].TableId
  WHERE [Order].TableId = @tableId AND TableToken = @tableToken
  AND [Order].IsFinish = 0
  AND (
  --Lấy ngày hiện tại
  OrderDate >= CAST(GETDATE() AS DATE)
  AND OrderDate < DATEADD(DAY, 1, CAST(GETDATE() AS DATE))
  --kết thúc
  )
  Order by IsConfirm ASC, OrderId DESC

  SELECT OrderDetailId as orderDetailId
      ,OrderDetail.OrderId as orderId
      ,OrderDetail.ProductId as productId
      ,OrderDetailQuantity as orderDetailQuantity
      ,OrderDetailNote as orderDetailNote

	  ,ProductName as productName
	  ,ProductPrice as productPrice
	  ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId
  FROM OrderDetail
  LEFT JOIN [Order] ON [Order].OrderId = OrderDetail.OrderId
  LEFT JOIN [Table] ON [Table].TableId = [Order].TableId
  LEFT JOIN Product ON Product.ProductId = OrderDetail.ProductId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE [Order].TableId = @tableId AND TableToken = @tableToken
  AND [Order].IsFinish = 0
    AND (
  --Lấy ngày hiện tại
  OrderDate >= CAST(GETDATE() AS DATE)
  AND OrderDate < DATEADD(DAY, 1, CAST(GETDATE() AS DATE))
  --kết thúc
  )

END
GO
/****** Object:  StoredProcedure [dbo].[HomeModuleGetTable]    Script Date: 28/09/2025 18:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HomeModuleGetTable]
@tableId INT,
@tableToken UniqueIdentifier
AS
BEGIN
SELECT TableId as tableId
      ,TableName as tableName
      ,IsOpen  as isOpen
  FROM [Table]
  WHERE TableId = @tableId AND TableToken = @tableToken
END
GO
USE [master]
GO
