@using System.Configuration;
@{
    ViewBag.Title = "Các Bàn";
}
@section css_header{
    <style>
        .status-close {
            background-color: #f04e2e;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
            display: inline-block;
        }

        .status-open {
            background-color: #e5e5e5;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
            display: inline-block;
        }

        .modal.table-detail .modal-container {
            width: 800px;
            padding-bottom: 20px;
        }
    </style>
}
@section scripts_header{
    <script src="~/Scripts/qrcode.min.js"></script>
    <script>
        const context = {
            companySlug: '@ViewBag.CompanySlug',
            imagePath: '@ConfigurationManager.AppSettings["ProductImageUploadPath"]'
        }
    </script>
}
<div class="section">
    <div class="admin-control">
        <div class="admin-control-left">
            <button id="btn-add-user" class="btn-control-large" ng-click="events.onOpenModelTable()"><i class="fa-light fa-plus"></i> <span>Thêm bàn mới</span></button>

            <select ng-model="selectedStatusTable">
                <option value="">Tất cả trạng thái</option>
                <option value="true">Đang mở</option>
                <option value="false">Đang đóng</option>
            </select>
        </div>
        @*<div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input ng-model="searchText" type="text" class="form-search-input" placeholder="Tìm kiếm bàn...">
            </form>
        </div>*@
        @*<div class="admin-control-right">
            <button id="btn-add-user" class="btn-control-large" ng-click="events.onOpenModelTable()"><i class="fa-light fa-plus"></i> <span>Thêm bàn mới</span></button>
        </div>*@
    </div>
    <div class="table">
        <table @*width="100%"*@ style="width:auto; min-width:50%">
            <thead>
                <tr>
                    <td style="text-align:left">Tên bàn</td>
                    <td>Trạng thái</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.tables | filter:searchText | filter:{ isOpen: selectedStatusTable }">
                    
                    <td  style="text-align:left">
                        <a href="/{{data.support.companySlug}}?tableId={{item.tableId}}&tableToken={{item.tableToken}}" class="btn-edit" target="_blank">
                            <i class="fa-light fa-utensils"></i>
                        </a>&nbsp;
                        @*<button type="button"
                                ng-click="events.onOpenModelTable(item)"
                                class="btn-edit">
                            <i class="fa-light fa-qrcode"></i>
                        </button>*@
                        {{item.tableName}}
                    </td>
                    <td>
                        <span ng-show="item.isOpen" class="status-open">Đang mở</span>
                        <span ng-hide="item.isOpen" class="status-close">Đang đóng</span>
                    </td>
                    <td>
                        <button ng-click="events.onOpenModelTable(item)"
                                class="btn-edit">
                            <i class="fa-light fa-pen-to-square"></i>
                        </button>
                        <button class="btn-delete"><i class="fa-regular fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal table-detail">
    <div class="modal-container">
        <h3 class="modal-container-title" ng-bind="data.table.tableName"></h3>
        <button class="modal-close product-form"><i class="fa-regular fa-xmark"></i></button>
        <div class="modal-content">
            <form action="" class="add-product-form">
                <div class="modal-content-left">
                    <div id="qrcode" 
                         ng-hide="data.table.tableId == null"
                         style="display: flex; justify-content: center;"></div>
                    <div class="form-group" style="text-align: center; margin-top: 9px;">
                        <button id="qrcode-download"
                                ng-disabled="data.table.tableId == null"
                                class="btn" disabled style="padding: 10px 30px;">Tải QR về</button>
                        <button class="btn" 
                                ng-disabled="data.table.tableId == null"
                                ng-click="events.onNewQR(data.table, $event)"
                                style="padding: 10px 30px;">Tạo QR mới</button>
                    </div>
                </div>
                <div class="modal-content-right">
                    <div class="form-group">
                        <label for="" class="form-label">Token</label>
                        <input ng-model="data.table.tableToken" disabled type="text" class="form-control">
                        <span class="form-message-name form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="form-label">Tên bàn</label>
                        <input ng-model="data.table.tableName" type="text" placeholder="VD: Bàn số 1" class="form-control">
                        <span class="form-message-name form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Trạng thái</label>
                        <input ng-model="data.table.isOpen" type="checkbox" id="table-isOpen" class="switch-input">
                        <label for="table-isOpen" class="switch"></label>
                    </div>
                    <button type="button"
                            ng-click="events.onAdd($event)"
                            class="form-submit">
                        <i class="fa-light fa-pencil"></i>
                        Lưu thay đổi
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
@section scripts_footer {
    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"));
    </script>
    <script>
        app.controller("mainCtrl", function ($scope, $http) {
            $scope.data = {
                table: {
                    tableName: 'Bàn Số ',
                    isOpen: true
                },
                support: {
                    imagePath: context.imagePath,
                    companySlug: context.companySlug
                }
            }

            $scope.init = function () {
                $scope.methods.loadInit();
            };

            $scope.events = {
                onAdd: function ($event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    const data = {
                        table: $scope.data.table
                    }
                    $scope.methods.update(data, button)
                },
                onOpenModelTable: function (table) {
                    let isNew;
                    if (table == null || table == undefined) {
                        isNew = true;
                    }
                    else isNew = false;

                    if (isNew) {
                        $scope.data.table = {
                            tableName: 'Bàn Số ',
                            isOpen: true
                        };
                    }
                    else {
                        $scope.data.table = table;
                    }

                    if (qrcode != undefined && !isNew) {
                        qrcode.clear();
                        qrcode.makeCode(`${window.location.origin}/${context.companySlug}?tableId=${table.tableId}&tableToken=${$scope.data.table.tableToken}`);
                        // Hàm tải ảnh
                        document.getElementById("qrcode-download").addEventListener("click", function () {
                            // lấy thẻ <img> mà qrcode.js tạo ra
                            var qrImg = document.querySelector("#qrcode img");
                            if (qrImg) {
                                var link = document.createElement("a");
                                link.href = qrImg.src;        // chính là base64 data:image/png
                                link.download = "qrcode.png"; // tên file
                                link.click();                 // trigger tải về
                            }
                        });
                    }
                    document.querySelector(".table-detail").classList.add("open");
                },
                onNewQR: function (table, $event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    $scope.methods.createNewToken(table, button);
                }
            };
            $scope.methods = {
                loadInit: function (button) {
                    $http({
                        url: '/api/admin/table/get-all',
                        method: "Get"
                    })
                    .then(function (response) {
                        //console.log('data', response.data);

                        $scope.data.tables = response.data.tables;
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {
                        if (button != null) {
                            shareData.loadButton.loaded(button);
                        }
                    });
                },
                update: function (data, button) {

                    $http({
                        url: '/api/admin/table/update',
                        method: "POST",
                        data: data
                    })
                        .then(function (response) {
                            if (response.data.success == true) {
                                if (response.data?.objectResponses?.id > 0) {
                                    $scope.data.table.tableId = response.data.objectResponses.id;
                                    document.querySelector(".table-detail").classList.remove("open");
                                }
                                $scope.methods.loadInit(button);
                            }
                            else {
                                shareData.notification.fail(response.data.messageForUser)
                                console.error('response error', response)
                            }
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {

                        });
                },
                createNewToken: function (table, button) {
                    $http({
                        url: '/api/admin/table/create-new-token?tableId=' + table.tableId,
                        method: "POST",
                        //data: data
                    })
                    .then(function (response) {
                        if (response.data.success == true) {
                            $scope.data.table.tableToken = response.data.objectResponses.tableToken;
                            if (qrcode != undefined) {
                                qrcode.clear();
                                qrcode.makeCode(`${window.location.origin}/?tableId=${table.tableId}&tableToken=${$scope.data.table.tableToken}`);
                            }
                        }
                        else {
                            shareData.notification.fail(response.data.messageForUser)
                            console.error('response error', response)
                        }
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {
                        if (button != null) {
                            shareData.loadButton.loaded(button);
                        }
                    });
                }
            };
            $scope.init();
        });
    </script>
}