
@{
    ViewBag.Title = "Đơn hàng";
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="section">
    <div class="admin-control">
        <div class="admin-control-left">
            <select name="tinh-trang" id="tinh-trang" onchange="findOrder()">
                <option value="2">Tất cả</option>
                <option value="1">Đã xử lý</option>
                <option value="0">Chưa xử lý</option>
            </select>
        </div>
        <div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input id="form-search-order" type="text" class="form-search-input" placeholder="Tìm kiếm mã đơn, khách hàng..." oninput="findOrder()">
            </form>
        </div>
        <div class="admin-control-right">
            <form action="" class="fillter-date">
                <div>
                    <label for="time-start">Từ</label>
                    <input type="date" class="form-control-date" id="time-start" onchange="findOrder()">
                </div>
                <div>
                    <label for="time-end">Đến</label>
                    <input type="date" class="form-control-date" id="time-end" onchange="findOrder()">
                </div>
            </form>
            <button class="btn-reset-order" onclick="cancelSearchOrder()"><i class="fa-light fa-arrow-rotate-right"></i></button>
        </div>
    </div>
    <div class="table">
        <table width="100%">
            <thead>
                <tr>
                    <td>Mã đơn</td>
                    <td>Khách hàng</td>
                    <td>Ngày đặt</td>
                    <td>Tổng tiền</td>
                    <td>Trạng thái</td>
                    <td>Thao tác</td>
                </tr>
            </thead>
            <tbody id="showOrder">
            </tbody>
        </table>
    </div>
</div>

