
@{
    ViewBag.Title = "Đơn hàng";
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="section">
    <div class="admin-control">
        <div class="admin-control-left">
            <select name="tinh-trang" id="tinh-trang" onchange="findOrder()">
                <option value="2">Tất cả</option>
                <option value="1">Đã xử lý</option>
                <option value="0">Chưa xử lý</option>
            </select>
        </div>
        <div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input id="form-search-order" type="text" class="form-search-input" placeholder="Tìm kiếm mã đơn, khách hàng..." oninput="findOrder()">
            </form>
        </div>
        <div class="admin-control-right">
            <form action="" class="fillter-date">
                <div>
                    <label for="time-start">Từ</label>
                    <input type="date" class="form-control-date" id="time-start" onchange="findOrder()">
                </div>
                <div>
                    <label for="time-end">Đến</label>
                    <input type="date" class="form-control-date" id="time-end" onchange="findOrder()">
                </div>
            </form>
            <button class="btn-reset-order" onclick="cancelSearchOrder()"><i class="fa-light fa-arrow-rotate-right"></i></button>
        </div>
    </div>
    <div class="table">
        <table width="100%">
            <thead>
                <tr>
                    <td>Mã đơn</td>
                    <td>Khách hàng</td>
                    <td>Ngày đặt</td>
                    <td>Tổng tiền</td>
                    <td>Trạng thái</td>
                    <td>Thao tác</td>
                </tr>
            </thead>
            <tbody id="showOrder">
            </tbody>
        </table>
    </div>
</div>
<script>
    // Format Date
    function formatDate(date) {
        let fm = new Date(date);
        let yyyy = fm.getFullYear();
        let mm = fm.getMonth() + 1;
        let dd = fm.getDate();
        if (dd < 10) dd = "0" + dd;
        if (mm < 10) mm = "0" + mm;
        return dd + "/" + mm + "/" + yyyy;
    }
    function vnd(price) {
        return price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }
    function showOrder(arr) {
        let orderHtml = "";
        if (arr.length == 0) {
            orderHtml = `<td colspan="6">Không có dữ liệu</td>`
        } else {
            arr.forEach((item) => {
                let status = item.trangthai == 0 ? `<span class="status-no-complete">Chưa xử lý</span>` : `<span class="status-complete">Đã xử lý</span>`;
                let date = formatDate(item.thoigiandat);
                orderHtml += `
            <tr>
            <td>${item.id}</td>
            <td>${item.khachhang}</td>
            <td>${date}</td>
            <td>${vnd(item.tongtien)}</td>                               
            <td>${status}</td>
            <td class="control">
            <button class="btn-detail" id="" onclick="detailOrder('${item.id}')"><i class="fa-regular fa-eye"></i> Chi tiết</button>
            </td>
            </tr>      
            `;
            });
        }
        document.getElementById("showOrder").innerHTML = orderHtml;
    }

    let orders = localStorage.getItem("order") ? JSON.parse(localStorage.getItem("order")) : [];
    window.onload = showOrder(orders);
</script>

