@using System.Configuration;

@{
    ViewBag.Title = "Đơn hàng";
}
@section css_header{
    <style>
        .status-order-new {
            background-color: #f04e2e;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
            display: inline-block;
        }

        .status-order-finish {
            background-color: #e5e5e5;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
            display: inline-block;
        }
        .admin-control-left button {
            width: 40px;
            border-radius: 5px;
            height: 40px;
        }
    </style>
}
@section scripts_header{
    <script>
        const context = {
            imagePath: '@ConfigurationManager.AppSettings["ProductImageUploadPath"]'
        }
    </script>
}
<div class="section">
    <div class="admin-control">
        <div class="admin-control-left">
            <select ng-model="selectedStatusOrder">
                <option value="">Tất cả trạng thái</option>
                <option value="true">Hoàn thành</option>
                <option value="false">Đơn mới</option>
            </select>
            <select ng-model="selectedTableId">
                <option value="">Tất cả bàn</option>
                <option ng-repeat="item in data.support.tables" value="{{item.tableId}}">{{item.tableName}}</option>
            </select>
        </div>
        <div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input ng-model="searchText" type="text" class="form-search-input" placeholder="Tìm kiếm mã đơn, khách hàng...">
            </form>
        </div>
        <div class="admin-control-right">
            <button ng-click="events.onReloadOrder($event)"
                    style="width: 133px"
                    class="btn-reset-order">
                <i class="fa-light fa-arrow-rotate-right"></i> Tải lại trang
            </button>
        </div>
    </div>
    <div class="table">
        <table width="100%">
            <thead>
                <tr>
                    <td style="text-align:left">Đơn & Bàn đặt</td>
                    <td style="text-align:left">Trạng thái</td>
                    @*<td>Trạng thái</td>*@
                    <td>Ngày đặt</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.orders
                    | filter:searchText
                    | filter:{ isFinish: selectedStatusOrder }
                    | filter:{ tableId: selectedTableId }">
                    <td style="text-align:left">
                        <button class="btn-detail"
                                ng-bind-html="'<i class=\'fa-light fa-receipt\'></i>&nbsp;' + item.orderId"
                                ng-click="events.onOpenModelOrder($event, item)">
                        </button>
                        {{item.tableName}}
                    </td>
                    <td style="text-align:left">
                        <span ng-show="item.isFinish" class="status-order-finish">Hoàn thành</span>
                        <span ng-hide="item.isFinish" class="status-order-new">Đơn mới</span>

                        <span ng-show="item.isConfirm" class="status-order-finish">Đã xác nhận</span>
                        <span ng-hide="item.isConfirm" class="status-order-new">Chưa xác nhận</span>
                    </td>
                    @*<td>
                        <span ng-show="item.isFinish" class="status-order-finish">Hoàn thành</span>
                        <span ng-hide="item.isFinish" class="status-order-new">Đơn mới</span>
                    </td>*@
                    <td ng-bind="item.orderDate | formatDateTime"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal detail-order">
    <div class="modal-container">
        <h3 class="modal-container-title">CHI TIẾT ĐƠN HÀNG</h3>
        <button class="modal-close"><i class="fa-regular fa-xmark"></i></button>
        <div class="modal-detail-order">
            <div class="modal-detail-left">
                <div class="order-item-group">
                    <div ng-repeat="item in data.order.orderDetails" class="order-product">
                        <div class="order-product-left">
                            <img ng-src="{{item.fileId ? data.support.imagePath + item.fileId : '/assets/img/blank-image.png'}}" alt="">
                            <div class="order-product-info">
                                <h4 ng-bind="item.productName"></h4>
                                <p ng-show="item.orderDetailNote != null" 
                                   ng-bind="item.orderDetailNote" 
                                   class="order-product-note">
                                </p>
                                <p ng-show="item.orderDetailNote == null" 
                                   class="order-product-note">
                                    <i class="fa-light fa-pen"></i> Không có ghi chú
                                </p>
                                <p ng-bind="'SL: ' + item.orderDetailQuantity" class="order-product-quantity"></p>
                            </div>
                        </div>
                        <div class="order-product-right">
                            <div class="order-product-price">
                                <span ng-bind-html="item.productPrice | vnCurrency" class="order-product-current-price"></span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                <button type="button"
                                        ng-click="events.onRemoveOrderDetail($index, item, $event)"
                                        class="btn-edit" style="float: right; background-color:white">
                                    <i class="fa-duotone fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-detail-right">
                <ul class="detail-order-group">
                    <li class="detail-order-item">
                        <span class="detail-order-item-left"><i class="fa-light fa-table-picnic"></i> Bàn đặt</span>
                        <span @*ng-bind="data.order.tableName"*@ class="detail-order-item-right">
                            {{data.order.tableName}}
                            <a href="/?tableId={{data.order.tableId}}&tableToken={{data.order.tableToken}}" target="_blank">
                                <i class="fa-light fa-utensils"></i>
                            </a>
                        </span>
                        
                    </li>
                    <li class="detail-order-item">
                        <span class="detail-order-item-left"><i class="fa-light fa-code"></i> Mã đơn</span>
                        <span ng-bind="data.order.orderId" class="detail-order-item-right"></span>
                    </li>
                    <li class="detail-order-item">
                        <span class="detail-order-item-left"><i class="fa-light fa-calendar-days"></i> Ngày đặt</span>
                        <span ng-bind="data.order.orderDate | formatDateTime" class="detail-order-item-right"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-detail-bottom">
            <div class="modal-detail-bottom-left">
                <div class="price-total">
                    <span class="thanhtien">Thành tiền</span>
                    <span ng-bind-html="methods.totalPriceForOrder(data.order) | vnCurrency" class="price"></span>
                </div>
            </div>
            <div class="modal-detail-bottom-right">
                <button ng-hide="data.order.isConfirm == true"
                        ng-click="events.onOrderConfirm(data.order, $event)"
                        class="modal-detail-btn btn-chuaxuly">
                    Xác nhận đơn
                </button>
                <button ng-click="events.onChangeStatusToFinish(data.order, $event)"
                        ng-hide="data.order.isFinish || data.order.isConfirm != true"
                        class="modal-detail-btn btn-daxuly">
                    Hoàn thành đơn
                </button>
                <span ng-show="data.order.isFinish" class="status-order-finish">Đã hoàn thành</span>
                <button ng-show="data.order.isFinish"
                        ng-click="events.onRestoreOrder(data.order, $event)"
                        class="btn-edit">
                    <i class="fa-light fa-arrow-rotate-right"></i>
                </button>
            </div>
        </div>

    </div>
</div>
@section scripts_footer {
    <script>
        app.controller("mainCtrl", function ($scope, $http) {
            $scope.data = {
                support: {
                    imagePath: context.imagePath,
                }
            }

            $scope.init = function () {
                $scope.methods.loadInit();
            };

            $scope.events = {
                onOpenModelOrder: async function ($event, order) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, false);

                    $scope.data.order = order;
                    $scope.data.order.orderDetails = await $scope.methods.getOrderDetails(order.orderId);
                    $scope.$apply();

                    document.querySelector(".detail-order").classList.add("open");
                    shareData.loadButton.loaded(button);
                    //console.log('$scope.data.order', $scope.data.order);
                },
                onRemoveOrderDetail: async function (index, orderDetail, $event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, false);

                    let result = false;
                    result = await $scope.methods.removeOrderDetail(orderDetail.orderDetailId);
                    if (result) {
                        $scope.data.order.orderDetails.splice(index, 1);
                        $scope.$apply();
                    }
                    shareData.loadButton.loaded(button);
                },
                onChangeStatusToFinish: async function (order, $event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    let result = false;
                    result = await $scope.methods.changeStatusToFinish(order.orderId);
                    if (result) {
                        $scope.data.order.isFinish = true;
                        $scope.$apply();
                    }
                    shareData.loadButton.loaded(button);
                },
                onOrderConfirm: async function (order, $event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    let result = false;
                    result = await $scope.methods.orderConfirm(order.orderId);
                    if (result) {
                        $scope.data.order.isConfirm = true;
                        $scope.$apply();
                    }
                    shareData.loadButton.loaded(button);
                },
                onRestoreOrder: async function (order, $event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, false);

                    let result = false;
                    result = await $scope.methods.restoreOrder(order.orderId);
                    if (result) {
                        $scope.data.order.isFinish = false;
                        $scope.$apply();
                    }
                    shareData.loadButton.loaded(button);
                },
                onReloadOrder: function ($event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, false);

                    $scope.methods.loadInit(button)
                }
            };
            $scope.methods = {
                loadInit: function (button) {
                    $http({
                        url: '/api/admin/order/get-all',
                        method: "Get"
                    })
                        .then(function (response) {
                            console.log('data', response.data);
                            $scope.data.orders = response.data.orders;
                            $scope.data.support.tables = response.data.tables;
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {
                            if (button != null) {
                                shareData.loadButton.loaded(button);
                            }
                        });
                },
                update: function (data, button) {

                    $http({
                        url: '/api/admin/table/update',
                        method: "POST",
                        data: data
                    })
                        .then(function (response) {
                            if (response.data.success == true) {
                                if (response.data?.objectResponses?.id > 0) {
                                    $scope.data.table.tableId = response.data.objectResponses.id;
                                }
                                $scope.methods.loadInit(button);
                            }
                            else {
                                shareData.notification.fail(response.data.messageForUser)
                                console.error('response error', response)
                            }
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {

                        });
                },
                getOrderDetails: async function (orderId) {
                    return await $http({
                        url: '/api/admin/order/get-order-details?orderId=' + orderId,
                        method: "Get"
                    })
                    .then(function (response) {
                        return response.data.orderDetails;
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {
                        
                    });
                },
                removeOrderDetail: async function (orderDetailId) {
                    return await $http({
                        url: '/api/admin/order/remove-order-detail?orderDetailId=' + orderDetailId,
                        method: "Post"
                    })
                    .then(function (response) {
                        if (response.data.success == true) {
                            return true;
                        }
                        else {
                            shareData.notification.fail(response.data.messageForUser)
                            console.error('response error', response)
                        }
                        return false;
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {

                    });
                },
                changeStatusToFinish: async function (orderId) {
                    return await $http({
                        url: '/api/admin/order/change-status-to-finish?orderId=' + orderId,
                        method: "Post"
                    })
                    .then(function (response) {
                        if (response.data.success == true) {
                            return true;
                        }
                        else {
                            shareData.notification.fail(response.data.messageForUser)
                            console.error('response error', response)
                        }
                        return false;
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {

                    });
                },
                orderConfirm: async function (orderId) {
                    return await $http({
                        url: '/api/admin/order/order-confirm?orderId=' + orderId,
                        method: "Post"
                    })
                        .then(function (response) {
                            if (response.data.success == true) {
                                return true;
                            }
                            else {
                                shareData.notification.fail(response.data.messageForUser)
                                console.error('response error', response)
                            }
                            return false;
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {

                        });
                },
                restoreOrder: async function (orderId) {
                    return await $http({
                        url: '/api/admin/order/restore-order?orderId=' + orderId,
                        method: "Post"
                    })
                        .then(function (response) {
                            if (response.data.success == true) {
                                return true;
                            }
                            else {
                                shareData.notification.fail(response.data.messageForUser)
                                console.error('response error', response)
                            }
                            return false;
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {

                        });
                },
                totalPriceForOrder: function (order) {
                    let total = 0;
                    if (order != null && order.orderDetails != null) {
                        for (item of order.orderDetails) {
                            total += (item.productPrice * item.orderDetailQuantity);
                        }
                    }
                    return total;
                }
            };
            $scope.init();
        });
    </script>
}
