USE [master]
GO
/****** Object:  Database [OrderApp]    Script Date: 08/09/2025 21:24:31 PM ******/
CREATE DATABASE [OrderApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderApp', FILENAME = N'C:\Program Files\Microsoft SQL Server 2014\MSSQL12.SQLEXPRESS\MSSQL\DATA\OrderApp.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OrderApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2014\MSSQL12.SQLEXPRESS\MSSQL\DATA\OrderApp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderApp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](225) NULL,
	[No] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[IsFinish] [bit] NULL,
	[IsConfirm] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[OrderDetailQuantity] [int] NULL,
	[OrderDetailNote] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ProductPrice] [money] NULL,
	[IsActive] [bit] NULL,
	[ProductImageId] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [varchar](max) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ProductImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableId] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](255) NULL,
	[IsOpen] [bit] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'bbdd9caf-f9ed-4ca0-bcbc-a87c9ed9e9b3', NULL, 0, N'AMF7BilA8d1ukmDQhQZBAS9rh534VYhiEeQNcmbn34LmbRyudvI5ZeXCFk2MyfMLvA==', N'eaf568dd-1b26-45f7-8da0-757065f86042', NULL, 0, 0, NULL, 1, 0, N'1234560')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [No]) VALUES (1, N'Món chay', 2)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [No]) VALUES (2, N'Món mặn', 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [No]) VALUES (3, N'Món lẩu', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [TableId], [OrderDate], [IsFinish], [IsConfirm]) VALUES (1, 1, CAST(N'2025-09-06T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Order] ([OrderId], [TableId], [OrderDate], [IsFinish], [IsConfirm]) VALUES (2, 1, CAST(N'2025-09-06T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Order] ([OrderId], [TableId], [OrderDate], [IsFinish], [IsConfirm]) VALUES (3, 1, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [OrderDetailQuantity], [OrderDetailNote]) VALUES (1, 1, 5, NULL, NULL)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [OrderDetailQuantity], [OrderDetailNote]) VALUES (2, 1, 10, NULL, NULL)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [OrderDetailQuantity], [OrderDetailNote]) VALUES (3, 2, 10, 1, N'ghi chú chanh sả')
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductDescription], [ProductPrice], [IsActive], [ProductImageId], [CategoryId]) VALUES (1, N'Nấm đùi gà xào cháy tỏi', N'Một Món chay ngon miệng với nấm đùi gà thái chân hương, xào săn với lửa và thật nhiều tỏi băm, nêm nếm với mắm và nước tương chay, món ngon đưa cơm và rất dễ ăn cả cho người lớn và trẻ nhỏ.

', 200000.0000, 0, 14, 2)
INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductDescription], [ProductPrice], [IsActive], [ProductImageId], [CategoryId]) VALUES (2, N'Rau xào ngũ sắc', N'Rau củ quả theo mùa tươi mới xào với nước mắm chay, gia vị để giữ được hương vị ngọt tươi nguyên thủy của rau củ, một món nhiều vitamin và chất khoáng, rất dễ ăn.', 180000.0000, 1, 17, 2)
INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductDescription], [ProductPrice], [IsActive], [ProductImageId], [CategoryId]) VALUES (3, N'Bánh lava phô mai nướng', N'Rau củ quả theo mùa tươi mới xào với nước mắm chay, gia vị để giữ được hương vị ngọt tươi nguyên thủy của rau củ, một món nhiều vitamin và chất khoáng, rất dễ ăn.', 180000.0000, 1, NULL, 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ProductImageId], [FileId]) VALUES (14, N'6dc0d2aa6c414d1a8e2876f88c2eb360.jpeg')
INSERT [dbo].[ProductImage] ([ProductImageId], [FileId]) VALUES (15, N'd5fece0b38944ab79628c0a03f00c853.png')
INSERT [dbo].[ProductImage] ([ProductImageId], [FileId]) VALUES (16, N'63e17474d37f41199881157a44f71c49.png')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([TableId], [TableName], [IsOpen]) VALUES (1, N'Bàn Số 1', 1)
INSERT [dbo].[Table] ([TableId], [TableName], [IsOpen]) VALUES (2, N'Bàn Số 2', 0)
INSERT [dbo].[Table] ([TableId], [TableName], [IsOpen]) VALUES (3, N'Bàn Số 3', 1)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 08/09/2025 21:24:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 08/09/2025 21:24:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 08/09/2025 21:24:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 08/09/2025 21:24:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 08/09/2025 21:24:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 08/09/2025 21:24:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsFinish]  DEFAULT ((0)) FOR [IsFinish]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsConfirm]  DEFAULT ((0)) FOR [IsConfirm]
GO
ALTER TABLE [dbo].[Table] ADD  CONSTRAINT [DF_Table_IsOpen]  DEFAULT ((0)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([TableId])
REFERENCES [dbo].[Table] ([TableId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductImage] FOREIGN KEY([ProductImageId])
REFERENCES [dbo].[ProductImage] ([ProductImageId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductImage]
GO
/****** Object:  StoredProcedure [dbo].[AdminOrderModuleGetAll]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminOrderModuleGetAll]
AS
BEGIN
SELECT OrderId as orderId
      ,OrderDate as orderDate
	  ,[Order].TableId as tableId
	  ,[Table].TableName as tableName
	  ,IsFinish as isFinish
	  ,IsConfirm as isConfirm
  FROM [OrderApp].[dbo].[Order]
  LEFT JOIN [Table] ON [Table].TableId = [Order].TableId
  Order by OrderId DESC

  SELECT  TableId as tableId
      ,TableName as tableName
  FROM [OrderApp].[dbo].[Table]
END
GO
/****** Object:  StoredProcedure [dbo].[AdminOrderModuleGetOrderDetails]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminOrderModuleGetOrderDetails]
@id INT
AS
BEGIN

SELECT OrderDetailId as orderDetailId
      ,OrderId as orderId
      ,OrderDetail.ProductId as productId
      ,OrderDetailQuantity as orderDetailQuantity
      ,OrderDetailNote as orderDetailNote

	  ,ProductName as productName
	  ,ProductPrice as productPrice
	  ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId
  FROM [OrderApp].[dbo].OrderDetail
  LEFT JOIN Product ON Product.ProductId = OrderDetail.ProductId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE OrderId = @id

END
GO
/****** Object:  StoredProcedure [dbo].[AdminProductModuleGetAll]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminProductModuleGetAll]
AS
BEGIN
--main
	SELECT ProductId as productId
      ,ProductName as productName
      ,ProductDescription as  productDescription
      ,ProductPrice as productPrice
      ,IsActive as isActive 
      ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId

      ,Product.CategoryId as categoryId
	  ,Category.CategoryName as categoryName
  FROM [OrderApp].[dbo].Product
  LEFT JOIN Category ON Category.CategoryId = Product.CategoryId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE 1 = 1
  ORDER BY ProductId DESC

  --support
  SELECT  CategoryId as categoryId
      ,CategoryName as categoryName
  FROM [OrderApp].[dbo].Category
END
GO
/****** Object:  StoredProcedure [dbo].[AdminTableModuleGetAll]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminTableModuleGetAll]
AS
BEGIN
SELECT TableId as tableId
      ,TableName as tableName
      ,IsOpen  as isOpen
  FROM [OrderApp].[dbo].[Table]
END
GO
/****** Object:  StoredProcedure [dbo].[HomeModuleGetAll]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HomeModuleGetAll]
AS
BEGIN
--main
	SELECT ProductId as productId
      ,ProductName as productName
      ,ProductDescription as  productDescription
      ,ProductPrice as productPrice
      ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId

      ,Product.CategoryId as categoryId
	  ,Category.CategoryName as categoryName
  FROM [OrderApp].[dbo].Product
  LEFT JOIN Category ON Category.CategoryId = Product.CategoryId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE Product.IsActive = 1
  ORDER BY ProductId DESC

  --support
  SELECT  CategoryId as categoryId
      ,CategoryName as categoryName
      ,[No] as no
  FROM [OrderApp].[dbo].Category
END
GO
/****** Object:  StoredProcedure [dbo].[HomeModuleGetOrderOfTable]    Script Date: 08/09/2025 21:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HomeModuleGetOrderOfTable]
@tableId INT
AS
BEGIN
SELECT OrderId as orderId
      ,OrderDate as orderDate
	  ,[Order].TableId as tableId
	  ,[Table].TableName as tableName
	  ,IsFinish as isFinish
	  ,IsConfirm as isConfirm
  FROM [OrderApp].[dbo].[Order]
  LEFT JOIN [Table] ON [Table].TableId = [Order].TableId
  WHERE [Order].TableId = @tableId
  Order by OrderId DESC

  SELECT OrderDetailId as orderDetailId
      ,OrderDetail.OrderId as orderId
      ,OrderDetail.ProductId as productId
      ,OrderDetailQuantity as orderDetailQuantity
      ,OrderDetailNote as orderDetailNote

	  ,ProductName as productName
	  ,ProductPrice as productPrice
	  ,Product.ProductImageId as productImageId
	  ,ProductImage.FileId as fileId
  FROM [OrderApp].[dbo].OrderDetail
  LEFT JOIN [Order] ON [Order].OrderId = OrderDetail.OrderId
  LEFT JOIN Product ON Product.ProductId = OrderDetail.ProductId
  LEFT JOIN ProductImage ON ProductImage.ProductImageId = Product.ProductImageId
  WHERE [Order].TableId = @tableId
END
GO
USE [master]
GO
