@using System.Configuration;
@{
    ViewBag.Title = "Tài khoản";
}
@section css_header{
    <style>
        
    </style>
}
@section scripts_header{
    <script>
        const context = {
            imagePath: '@ConfigurationManager.AppSettings["ProductImageUploadPath"]'
        }
    </script>
}

<div class="section">
    <div class="admin-control">
        <div class="admin-control-left">
            @*<select name="tinh-trang-user">
            <option value="2">Tất cả</option>
            <option value="1">Hoạt động</option>
            <option value="0">Bị khóa</option>
        </select>*@
            <button id="btn-add-user" class="btn-control-large" ng-click="events.onOpenModel()"><i class="fa-light fa-plus"></i> <span>Thêm Tài Khoản</span></button>

            <button ng-click="events.onReloadInit($event)"
                    style="width: 133px; height: 40px; border-radius:5px"
                    class="btn-reset-order">
                <i class="fa-light fa-arrow-rotate-right"></i> Tải lại trang
            </button>
        </div>
        @*<div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input type="text" class="form-search-input" placeholder="Tìm kiếm tải khoản...">
            </form>
        </div>*@
        @*<div class="admin-control-right">
            <button id="btn-add-user" class="btn-control-large" ng-click="events.onOpenModel()"><i class="fa-light fa-plus"></i> <span>Thêm Tài Khoản</span></button>
        </div>*@
    </div>
    <div class="table">
        <table @*width="100%"*@ style="width:auto;min-width:50%">
            <thead>
                <tr>
                    <td style="text-align:left">Tên đăng nhập</td>
                    <td>Số điện thoại</td>
                    @*<td>Trạng thái</td>*@
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.aspNetUsers">
                    <td ng-bind="item.userName" style="text-align:left"></td>
                    <td ng-bind-html="item.phoneNumber | formatPhoneNumber"></td>
                    @*<td>
                        <span class="status-complete">Hoạt động</span>
                        <span class="status-no-complete">Bị khóa</span>
                    </td>*@
                    <td>
                        <button ng-click="events.onOpenModel(item)"
                                class="btn-edit">
                            <i class="fa-light fa-pen-to-square"></i>
                        </button>
                        <button ng-click="events.onOpenModelChangePassword(item)"
                                class="btn-delete">
                            <i class="fa-regular fa-key"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- </div> -->
</div>
<div class="modal item-detail">
    <div class="modal-container">
        <h3 class="modal-container-title">CHI TIẾT TÀI KHOẢN</h3>
        <button class="modal-close"><i class="fa-regular fa-xmark"></i></button>
        <div class="form-content sign-up">
            <form action="" class="signup-form ng-pristine ng-valid">
                <div class="form-group">
                    <label for="fullname" class="form-label">Tên đăng nhập</label>
                    <input ng-model="data.aspNetUser.userName" name="fullname" type="text" placeholder=".." class="form-control">
                    <span class="form-message-name form-message"></span>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input ng-model="data.aspNetUser.phoneNumber" 
                           format-phone-input
                           type="text"
                           name="phone" placeholder=".." class="form-control">
                    <span class="form-message-phone form-message"></span>
                </div>
                <div ng-show="data.aspNetUser.id == null" class="form-group">
                    <label for="phone" class="form-label">Mật khẩu</label>
                    <input ng-model="data.aspNetUser.password"  type="text" placeholder="***" class="form-control">
                    <span class="form-message-phone form-message"></span>
                </div>
                @*<div class="form-group">
            <label for="" class="form-label">Trạng thái</label>
            <input type="checkbox" id="user-status" class="switch-input">
            <label for="user-status" class="switch"></label>
        </div>*@
                <button ng-click="events.onUpdate($event)"
                        class="form-submit">
                    Lưu thay đổi
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal item-change-password">
    <div class="modal-container">
        <h3 class="modal-container-title">ĐỔI MẬT KHẨU</h3>
        <button class="modal-close"><i class="fa-regular fa-xmark"></i></button>
        <div class="form-content sign-up">
            <form action="" class="signup-form ng-pristine ng-valid">
                <div class="form-group">
                    <label for="fullname" class="form-label">Mật khẩu mới</label>
                    <input ng-model="data.aspNetUser.newPassword" name="fullname" type="text" placeholder="***" class="form-control">
                    <span class="form-message-name form-message"></span>
                </div>
                <button ng-click="events.onChangePassword($event)"
                        class="form-submit">
                    Lưu thay đổi
                </button>
            </form>
        </div>
    </div>
</div>
@section scripts_footer {
    <script>
        app.controller("mainCtrl", function ($scope, $http) {
            $scope.data = {
                aspNetUser: {},
                support: {
                    imagePath: context.imagePath,
                }
            }

            $scope.init = function () {
                $scope.methods.loadInit();
            };

            $scope.events = {
                onUpdate: function ($event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    const data = {
                        aspNetUser: $scope.data.aspNetUser
                    }
                    $scope.methods.update(data, button)
                },
                onOpenModel: function (aspNetUser) {
                    let isNew;
                    if (aspNetUser == null || aspNetUser == undefined) {
                        isNew = true;
                    }
                    else isNew = false;

                    if (isNew) {
                        $scope.data.aspNetUser = {

                        };
                    }
                    else {
                        $scope.data.aspNetUser = aspNetUser;
                    }

                    document.querySelector(".item-detail").classList.add("open");
                },
                onOpenModelChangePassword: function (aspNetUser) {
                    const getSpecialChar = () => {
                        const specialChars = "!#$%?";
                        const index = Math.floor(Math.random() * specialChars.length);
                        return specialChars.charAt(index);
                    }
                    $scope.data.aspNetUser = aspNetUser;
                    $scope.data.aspNetUser.newPassword = aspNetUser.userName + getSpecialChar();
                    document.querySelector(".item-change-password").classList.add("open");
                },
                onChangePassword: function ($event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    const data = {
                        aspNetUser: $scope.data.aspNetUser
                    }
                    $scope.methods.changePassword(data, button)
                },
                onReloadInit: function ($event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, false);

                    $scope.methods.loadInit(button)
                }
            };
            $scope.methods = {
                loadInit: function (button) {
                    $http({
                        url: '/api/admin/account/get-all',
                        method: "Get"
                    })
                        .then(function (response) {
                            //console.log('data', response.data);

                            $scope.data.aspNetUsers = response.data.aspNetUsers;
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {
                            if (button != null) {
                                shareData.loadButton.loaded(button);
                            }
                        });
                },
                update: function (data, button) {

                    $http({
                        url: '/api/admin/account/update',
                        method: "POST",
                        data: data
                    })
                        .then(function (response) {
                            if (response.data.success == true) {
                                document.querySelector(".item-detail").classList.remove("open");
                                $scope.methods.loadInit(button);
                            }
                            else {
                                shareData.notification.fail(response.data.messageForUser)
                                console.error('response error', response)
                            }
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {

                        });
                },
                changePassword: function (data, button) {
                    $http({
                        url: '/api/admin/account/change-password',
                        method: "POST",
                        data: data
                    })
                    .then(function (response) {
                        if (response.data.success == true) {
                            
                        }
                        else {
                            shareData.notification.fail(response.data.messageForUser)
                            console.error('response error', response)
                        }
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {
                        if (button != null) {
                            shareData.loadButton.loaded(button);
                        }
                    });
                }
            };
            $scope.init();
        });
    </script>
}