@using System.Configuration;
@{
    ViewBag.Title = "Sản phẩm";
}
@section css_header{
    <style>
        .image-upload-preview {
            position: relative;
            display: inline-block;
        }

        .uploading {
            opacity: 0.5;
        }

        .loading-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.8);
            padding: 6px 12px;
            border-radius: 6px;
            font-size: 27px;
        }
    </style>
}
@section scripts_header{
    <script>
        const context = {
            imagePath: '@ConfigurationManager.AppSettings["ProductImageUploadPath"]'
        }
    </script>
}
<div class="section product-all">
    <div class="admin-control">
        <div class="admin-control-left">
            <select ng-model="selectedCategoryId">
                <option value="">Tất cả</option>
                <option ng-repeat="item in data.support.categorys" value="{{item.categoryId}}">{{item.categoryName}}</option>
            </select>
        </div>
        <div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input ng-model="searchText" type="text" class="form-search-input" placeholder="Tìm kiếm tên món...">
            </form>
        </div>
        <div class="admin-control-right">
            <button class="btn-control-large" id="btn-cancel-product" ng-click="events.onCancelSearchProduct()"><i class="fa-light fa-rotate-right"></i> Làm mới</button>
            <button class="btn-control-large" ng-click="events.onOpenModelProduct()" @*id="btn-add-product"*@><i class="fa-light fa-plus"></i> Thêm món mới</button>
        </div>
    </div>
    <div @*id="show-product"*@>
        <div ng-repeat="item in data.products | filter:searchText | filter:{ categoryId: selectedCategoryId }" class="list">
            <div class="list-left">
                <img ng-src="{{item.fileId ? data.support.imagePath + item.fileId : '/assets/img/blank-image.png'}}" alt="">
                <div class="list-info">
                    <h4 ng-bind-html="item.productName"></h4>
                    <p class="list-note" ng-bind-html="item.productDescription"></p>
                    <span class="list-category" 
                          ng-show="item.categoryId > 0"
                          ng-bind-html="item.categoryName">Món mặn</span>
                </div>
            </div>
            <div class="list-right">
                <div class="list-price">
                    <span class="list-current-price" ng-bind-html="item.productPrice + '&nbsp;₫'"></span>
                </div>
                <div class="list-control">
                    <div class="list-tool">
                        <button class="btn-edit" ng-click="events.onOpenModelProduct(item)" @*onclick="editProduct(1)"*@><i class="fa-light fa-pen-to-square"></i></button>
                        <button class="btn-delete" onclick="deleteProduct(1)"><i class="fa-regular fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-nav">
        <ul class="page-nav-list">
        </ul>
    </div>
</div>
@*Model add-product*@
<div class="modal add-product">
    <div class="modal-container">
        <h3 class="modal-container-title">{{data.product.productName}}</h3>
        <h3 class="modal-container-title"></h3>
        <button class="modal-close product-form"><i class="fa-regular fa-xmark"></i></button>
        <div class="modal-content">
            <form action="" class="add-product-form">
                <div class="modal-content-left">
                    <div class="image-upload-preview">
                        <!-- ảnh -->
                        <img ng-src="{{data.product.fileId ? data.support.imagePath + data.product.fileId : '/assets/img/blank-image.png'}}" 
                             alt="" 
                             ng-class="{'uploading': isUploading}"
                             class="upload-image-preview">

                        <!-- spinner khi đang upload -->
                        <span ng-if="isUploading" class="loading-overlay">
                            <i class="fa-solid fa-loader fa-spin fa-spin-reverse"></i>
                        </span>
                    </div>
                    <div class="form-group file">
                        <label for="up-hinh-anh" class="form-label-file">
                            <i class="fa-regular fa-cloud-arrow-up"></i>
                            Chọn hình ảnh
                        </label>
                        <input accept="image/jpeg, image/png, image/jpg"
                               ng-click="methods.checkBeforeUpload($event)"
                               ng-disabled="isUploading"
                               id="up-hinh-anh"
                               name="up-hinh-anh"
                               type="file"
                               class="form-control"
                               onchange="angular.element(this).scope().methods.updateFile(this)">
                    </div>
                </div>
                <div class="modal-content-right">
                    <div class="form-group">
                        <label for="ten-mon" class="form-label">Tên món</label>
                        <input  ng-model="data.product.productName" id="ten-mon" name="ten-mon" type="text" placeholder="Nhập tên món"
                               class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group edit-account-e">
                        <label for="" class="form-label">Trạng thái</label>
                        <input ng-model="data.product.isActive" type="checkbox" id="user-status" class="switch-input">
                        <label for="user-status" class="switch"></label>
                    </div>
                    <div class="form-group">
                        <label for="category" class="form-label">Chọn món</label>
                        <select ng-model="data.product.categoryId"
                                ng-options="c.categoryId as c.categoryName for c in data.support.categorys">
                        </select>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="gia-moi" class="form-label">Giá bán</label>
                        <input  ng-model="data.product.productPrice" id="gia-moi" name="gia-moi" type="text" placeholder="Nhập giá bán"
                               class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="mo-ta" class="form-label">Mô tả</label>
                        <textarea  ng-model="data.product.productDescription" class="product-desc" id="mo-ta" placeholder="Nhập mô tả món ăn..."></textarea>
                        <span class="form-message"></span>
                    </div>
                    <button ng-click="events.onAdd($event)" class="form-submit btn-add-product-form" @*id="add-product-button"*@>
                        <span>LƯU THAY ĐỔI </span>
                    </button>
                    @*<button class="form-submit btn-update-product-form edit-product-e" id="update-product-button">
                        <i class="fa-light fa-pencil"></i>
                        <span>LƯU THAY ĐỔI</span>
                    </button>*@
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Doi sang dinh dang tien VND
    function vnd(price) {
        return price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }
    // Phân trang
    let perPage = 12;
    let currentPage = 1;
    let totalPage = 0;
    let perProducts = [];

    function displayList(productAll, perPage, currentPage) {
        let start = (currentPage - 1) * perPage;
        let end = (currentPage - 1) * perPage + perPage;
        let productShow = productAll.slice(start, end);
        showProductArr(productShow);
    }

    function setupPagination(productAll, perPage) {
        document.querySelector('.page-nav-list').innerHTML = '';
        let page_count = Math.ceil(productAll.length / perPage);
        for (let i = 1; i <= page_count; i++) {
            let li = paginationChange(i, productAll, currentPage);
            document.querySelector('.page-nav-list').appendChild(li);
        }
    }

    function paginationChange(page, productAll, currentPage) {
        let node = document.createElement(`li`);
        node.classList.add('page-nav-item');
        node.innerHTML = `<a href="#">${page}</a>`;
        if (currentPage == page) node.classList.add('active');
        node.addEventListener('click', function () {
            currentPage = page;
            displayList(productAll, perPage, currentPage);
            let t = document.querySelectorAll('.page-nav-item.active');
            for (let i = 0; i < t.length; i++) {
                t[i].classList.remove('active');
            }
            node.classList.add('active');
        })
        return node;
    }

    // Hiển thị danh sách sản phẩm
    function showProductArr(arr) {
        let productHtml = "";
        if (arr.length == 0) {
            productHtml = `<div class="no-result"><div class="no-result-i"><i class="fa-light fa-face-sad-cry"></i></div><div class="no-result-h">Không có sản phẩm để hiển thị</div></div>`;
        } else {
            arr.forEach(product => {
                let btnCtl = product.status == 1 ?
                    `<button class="btn-delete" onclick="deleteProduct(${product.id})"><i class="fa-regular fa-trash"></i></button>` :
                    `<button class="btn-delete" onclick="changeStatusProduct(${product.id})"><i class="fa-regular fa-eye"></i></button>`;
                productHtml += `
            <div class="list">
                    <div class="list-left">
                    <img src="${product.img}" alt="">
                    <div class="list-info">
                        <h4>${product.title}</h4>
                        <p class="list-note">${product.desc}</p>
                        <span class="list-category">${product.category}</span>
                    </div>
                </div>
                <div class="list-right">
                    <div class="list-price">
                    <span class="list-current-price">${vnd(product.price)}</span>
                    </div>
                    <div class="list-control">
                    <div class="list-tool">
                        <button class="btn-edit" onclick="editProduct(${product.id})"><i class="fa-light fa-pen-to-square"></i></button>
                        ${btnCtl}
                    </div>
                </div>
                </div>
            </div>`;
            });
        }
        //document.getElementById("show-product").innerHTML = productHtml;
    }

    function showProduct() {
        //let selectOp = document.getElementById('the-loai').value;
        //let valeSearchInput = document.getElementById('form-search-product').value;
        //let products = localStorage.getItem("products") ? JSON.parse(localStorage.getItem("products")) : [];

        //if (selectOp == "Tất cả") {
        //    result = products.filter((item) => item.status == 1);
        //} else if (selectOp == "Đã xóa") {
        //    result = products.filter((item) => item.status == 0);
        //} else {
        //    result = products.filter((item) => item.category == selectOp);
        //}

        //result = valeSearchInput == "" ? result : result.filter(item => {
        //    return item.title.toString().toUpperCase().includes(valeSearchInput.toString().toUpperCase());
        //})

        //displayList(result, perPage, currentPage);
        //setupPagination(result, perPage, currentPage);
    }

    function cancelSearchProduct() {
        let products = localStorage.getItem("products") ? JSON.parse(localStorage.getItem("products")).filter(item => item.status == 1) : [];
        document.getElementById('the-loai').value = "Tất cả";
        document.getElementById('form-search-product').value = "";
        displayList(products, perPage, currentPage);
        setupPagination(products, perPage, currentPage);
    }

    window.onload = showProduct();
    
    //let btnAddProductIn = document.getElementById("add-product-button");
    //btnAddProductIn.addEventListener("click", (e) => {
    //    e.preventDefault();
    //    let imgProduct = getPathImage(document.querySelector(".upload-image-preview").src)
    //    let tenMon = document.getElementById("ten-mon").value;
    //    let price = document.getElementById("gia-moi").value;
    //    let moTa = document.getElementById("mo-ta").value;
    //    let categoryText = document.getElementById("chon-mon").value;
    //    if (tenMon == "" || price == "" || moTa == "") {
    //        toast({ title: "Chú ý", message: "Vui lòng nhập đầy đủ thông tin món!", type: "warning", duration: 3000, });
    //    } else {
    //        if (isNaN(price)) {
    //            toast({ title: "Chú ý", message: "Giá phải ở dạng số!", type: "warning", duration: 3000, });
    //        } else {
    //            let products = localStorage.getItem("products") ? JSON.parse(localStorage.getItem("products")) : [];
    //            let product = {
    //                id: createId(products),
    //                title: tenMon,
    //                img: imgProduct,
    //                category: categoryText,
    //                price: price,
    //                desc: moTa,
    //                status: 1
    //            };
    //            products.unshift(product);
    //            localStorage.setItem("products", JSON.stringify(products));
    //            showProduct();
    //            document.querySelector(".add-product").classList.remove("open");
    //            toast({ title: "Success", message: "Thêm sản phẩm thành công!", type: "success", duration: 3000 });
    //            setDefaultValue();
    //        }
    //    }
    //});

    //document.querySelector(".modal-close.product-form").addEventListener("click", () => {
    //    setDefaultValue();
    //})

    //function setDefaultValue() {
    //    document.querySelector(".upload-image-preview").src = "~/assets/img/blank-image.png";
    //    document.getElementById("ten-mon").value = "";
    //    document.getElementById("gia-moi").value = "";
    //    document.getElementById("mo-ta").value = "";
    //    document.getElementById("chon-mon").value = "Món chay";
    //}

    //let btnUpdateProductIn = document.getElementById("update-product-button");
    //btnUpdateProductIn.addEventListener("click", (e) => {
    //    e.preventDefault();
    //    let products = JSON.parse(localStorage.getItem("products"));
    //    let idProduct = products[indexCur].id;
    //    let imgProduct = products[indexCur].img;
    //    let titleProduct = products[indexCur].title;
    //    let curProduct = products[indexCur].price;
    //    let descProduct = products[indexCur].desc;
    //    let categoryProduct = products[indexCur].category;
    //    let imgProductCur = getPathImage(document.querySelector(".upload-image-preview").src)
    //    let titleProductCur = document.getElementById("ten-mon").value;
    //    let curProductCur = document.getElementById("gia-moi").value;
    //    let descProductCur = document.getElementById("mo-ta").value;
    //    let categoryText = document.getElementById("chon-mon").value;

    //    if (imgProductCur != imgProduct || titleProductCur != titleProduct || curProductCur != curProduct || descProductCur != descProduct || categoryText != categoryProduct) {
    //        let productadd = {
    //            id: idProduct,
    //            title: titleProductCur,
    //            img: imgProductCur,
    //            category: categoryText,
    //            price: parseInt(curProductCur),
    //            desc: descProductCur,
    //            status: 1,
    //        };
    //        products.splice(indexCur, 1);
    //        products.splice(indexCur, 0, productadd);
    //        localStorage.setItem("products", JSON.stringify(products));
    //        toast({ title: "Success", message: "Sửa sản phẩm thành công!", type: "success", duration: 3000, });
    //        setDefaultValue();
    //        document.querySelector(".add-product").classList.remove("open");
    //        showProduct();
    //    } else {
    //        toast({ title: "Warning", message: "Sản phẩm của bạn không thay đổi!", type: "warning", duration: 3000, });
    //    }
    //});
    // On change Image
    function uploadImage(el) {
        let path = "~/assets/img/products/" + el.value.split("\\")[2];
        document.querySelector(".upload-image-preview").setAttribute("src", path);
    }
</script>

@section scripts_footer {
    <script>
        app.controller("mainCtrl", function ($scope, $http) {
            $scope.data = {
                product: {
                    isActive: true
                },
                support: {
                    imagePath: context.imagePath,
                }
            }

            $scope.init = function () {
                $scope.methods.loadInit();
            };

            $scope.events = {
                onAdd: function ($event) {
                    const button = $event.currentTarget;
                    shareData.loadButton.loading(button, true);

                    const data = {
                        product: $scope.data.product
                    }
                    $scope.methods.update(data, button)
                },
                onOpenModelProduct: function (product) {
                    let isNew;
                    if (product == null || product == undefined) {
                        isNew = true;
                    }
                    else isNew = false;
                    if (isNew) {
                        $scope.data.product = {
                            isActive: true
                        };
                    }
                    else {
                        $scope.data.product = product;
                    }
                    document.querySelector(".add-product").classList.add("open");
                },
                onCancelSearchProduct: function () {
                    $scope.selectedCategoryId = '';
                    $scope.searchText = '';
                }
            };
            $scope.methods = {
                loadInit: function (button) {
                    $http({
                        url: '/api/admin/product/get-all',
                        method: "Get"
                    })
                        .then(function (response) {
                            //console.log('data', response.data);

                            $scope.data.products = response.data.products;
                            $scope.data.support.categorys = response.data.categorys;
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {
                            if (button != null) {
                                shareData.loadButton.loaded(button);
                            }
                        });
                },
                update: function (data, button) {

                    $http({
                        url: '/api/admin/product/update',
                        method: "POST",
                        data: data
                    })
                        .then(function (response) {
                            if (response.data.success == true) {
                                if (response.data?.objectResponses?.id > 0) {
                                    $scope.data.product.productId = response.data.objectResponses.id;
                                }
                                $scope.methods.loadInit(button);
                            }
                            else {
                                shareData.notification.fail(response.data.messageForUser)
                                console.error('response error', response)
                            }
                        })
                        .catch(function (response) {
                            shareData.notification.exception();
                            console.error('catch error', response);
                        })
                        .finally(function () {

                        });
                },
                checkBeforeUpload: function ($event) {
                    if (!$scope.data.product.productId) {
                        shareData.notification.fail('Bạn cần lưu sản phẩm mới trước khi upload hình ảnh')
                        $event.preventDefault(); // chặn click
                    }
                },
                updateFile: function (input) {
                    
                    var file = input.files[0];
                    if (!file) {
                        return;
                    }

                    // Gửi file + productId lên server
                    var formData = new FormData();
                    formData.append("file", file);

                    $scope.isUploading = true; // Bắt đầu loading
                    $http.post(`/api/admin/product/upload-image?productId=${$scope.data.product.productId}`, formData, {
                        transformRequest: angular.identity,
                        headers: { 'Content-Type': undefined }
                    })
                    .then(function (response) {
                        if (response.data.success === true) {
                            $scope.data.product.fileId = response.data.objectResponses.fileId;
                            
                        } else {
                            shareData.notification.fail(response.data.messageForUser);
                            console.error('response error', response);
                        }
                    })
                    .catch(function (response) {
                        shareData.notification.exception();
                        console.error('catch error', response);
                    })
                    .finally(function () {
                        $scope.isUploading = false; // Dừng loading
                    });
                }
            };
            $scope.init();
        });
    </script>
}

