
@{
    ViewBag.Title = "Sản phẩm";
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="section product-all">
    <div class="admin-control">
        <div class="admin-control-left">
            <select name="the-loai" id="the-loai" onchange="showProduct()">
                <option>Tất cả</option>
                <option>Món chay</option>
                <option>Món mặn</option>
                <option>Món lẩu</option>
                <option>Món ăn vặt</option>
                <option>Món tráng miệng</option>
                <option>Nước uống</option>
                <option>Đã xóa</option>
            </select>
        </div>
        <div class="admin-control-center">
            <form action="" class="form-search">
                <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                <input id="form-search-product" type="text" class="form-search-input" placeholder="Tìm kiếm tên món..." oninput="showProduct()">
            </form>
        </div>
        <div class="admin-control-right">
            <button class="btn-control-large" id="btn-cancel-product" onclick="cancelSearchProduct()"><i class="fa-light fa-rotate-right"></i> Làm mới</button>
            <button class="btn-control-large" id="btn-add-product"><i class="fa-light fa-plus"></i> Thêm món mới</button>
        </div>
    </div>
    <div id="show-product"></div>
    <div class="page-nav">
        <ul class="page-nav-list">
        </ul>
    </div>
</div>
<script>
    // Doi sang dinh dang tien VND
    function vnd(price) {
        return price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }
    // Phân trang 
    let perPage = 12;
    let currentPage = 1;
    let totalPage = 0;
    let perProducts = [];

    function displayList(productAll, perPage, currentPage) {
        let start = (currentPage - 1) * perPage;
        let end = (currentPage - 1) * perPage + perPage;
        let productShow = productAll.slice(start, end);
        showProductArr(productShow);
    }

    function setupPagination(productAll, perPage) {
        document.querySelector('.page-nav-list').innerHTML = '';
        let page_count = Math.ceil(productAll.length / perPage);
        for (let i = 1; i <= page_count; i++) {
            let li = paginationChange(i, productAll, currentPage);
            document.querySelector('.page-nav-list').appendChild(li);
        }
    }

    function paginationChange(page, productAll, currentPage) {
        let node = document.createElement(`li`);
        node.classList.add('page-nav-item');
        node.innerHTML = `<a href="#">${page}</a>`;
        if (currentPage == page) node.classList.add('active');
        node.addEventListener('click', function () {
            currentPage = page;
            displayList(productAll, perPage, currentPage);
            let t = document.querySelectorAll('.page-nav-item.active');
            for (let i = 0; i < t.length; i++) {
                t[i].classList.remove('active');
            }
            node.classList.add('active');
        })
        return node;
    }

    // Hiển thị danh sách sản phẩm 
    function showProductArr(arr) {
        let productHtml = "";
        if (arr.length == 0) {
            productHtml = `<div class="no-result"><div class="no-result-i"><i class="fa-light fa-face-sad-cry"></i></div><div class="no-result-h">Không có sản phẩm để hiển thị</div></div>`;
        } else {
            arr.forEach(product => {
                let btnCtl = product.status == 1 ?
                    `<button class="btn-delete" onclick="deleteProduct(${product.id})"><i class="fa-regular fa-trash"></i></button>` :
                    `<button class="btn-delete" onclick="changeStatusProduct(${product.id})"><i class="fa-regular fa-eye"></i></button>`;
                productHtml += `
            <div class="list">
                    <div class="list-left">
                    <img src="${product.img}" alt="">
                    <div class="list-info">
                        <h4>${product.title}</h4>
                        <p class="list-note">${product.desc}</p>
                        <span class="list-category">${product.category}</span>
                    </div>
                </div>
                <div class="list-right">
                    <div class="list-price">
                    <span class="list-current-price">${vnd(product.price)}</span>                   
                    </div>
                    <div class="list-control">
                    <div class="list-tool">
                        <button class="btn-edit" onclick="editProduct(${product.id})"><i class="fa-light fa-pen-to-square"></i></button>
                        ${btnCtl}
                    </div>                       
                </div>
                </div> 
            </div>`;
            });
        }
        document.getElementById("show-product").innerHTML = productHtml;
    }

    function showProduct() {
        let selectOp = document.getElementById('the-loai').value;
        let valeSearchInput = document.getElementById('form-search-product').value;
        let products = localStorage.getItem("products") ? JSON.parse(localStorage.getItem("products")) : [];

        if (selectOp == "Tất cả") {
            result = products.filter((item) => item.status == 1);
        } else if (selectOp == "Đã xóa") {
            result = products.filter((item) => item.status == 0);
        } else {
            result = products.filter((item) => item.category == selectOp);
        }

        result = valeSearchInput == "" ? result : result.filter(item => {
            return item.title.toString().toUpperCase().includes(valeSearchInput.toString().toUpperCase());
        })

        displayList(result, perPage, currentPage);
        setupPagination(result, perPage, currentPage);
    }

    function cancelSearchProduct() {
        let products = localStorage.getItem("products") ? JSON.parse(localStorage.getItem("products")).filter(item => item.status == 1) : [];
        document.getElementById('the-loai').value = "Tất cả";
        document.getElementById('form-search-product').value = "";
        displayList(products, perPage, currentPage);
        setupPagination(products, perPage, currentPage);
    }

    window.onload = showProduct();
</script>

